{layout 'layout.latte'}

{block content}

<div id="root" data-page="app"></div>

<script type="module" crossorigin src="{Flight::get('basePath')}/assets/index-CjMqPAno.js"></script>

<!-- Link to your separate JS file containing the React code -->
<!-- <script type="text/babel" src="{Flight::get('basePath')}/assets/js/App.js"></script> -->

{/block}