{layout 'layout.latte'}

{block content}

<div class="container app-container text-light">

	<h2 class="mt-5">New pair</h2>

	<div id="root" data-page="wordPairForm"></div>

	<script type="module" crossorigin src="{Flight::get('basePath')}/assets/index-CjMqPAno.js"></script>
	
</div>

{/block}