.App {
    text-align: center;
}

.app-container {
    height: 100vh;
    min-width: 366px;
    max-width: 600px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.grid-3 {
    grid-template-columns: repeat(3, 100px);
}

.grid-4 {
    grid-template-columns: repeat(4, 100px);
}

.grid-5 {
    grid-template-columns: repeat(5, 100px);
}

